<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          Egee.io
        </a>
      </h1>
      <hr class="egeeio" />
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://egee.xyz">Egee's Site</a>
    </nav>

    <p>Made with ❤️</p>
  </div>
</div>
